name: RFC Content Previews and Submissions
on:
  pull_request_target:
    branches: ["main"]
    types: ["labeled"]
permissions:
  contents: read
  pull-requests: write
jobs:
  draft-rfc:
    uses: curvenote/actions/.github/workflows/draft.yml@v1
    with:
      venue: oxa
      kind: rfc
      collection: rfcs
      path: content/*
      label: draft
      enforce-single-folder: true
    secrets:
      CURVENOTE: ${{ secrets.CURVENOTE_TOKEN }}
      GITHUB: ${{ secrets.GITHUB_TOKEN }}
  active-rfc:
    uses: curvenote/actions/.github/workflows/submit.yml@v1
    with:
      venue: oxa
      kind: rfc
      collection: rfcs
      path: content/*
      label: active
      enforce-single-folder: true
      publish: true
    secrets:
      CURVENOTE: ${{ secrets.CURVENOTE_TOKEN }}
      GITHUB: ${{ secrets.GITHUB_TOKEN }}
